<%= form_for @experiment, html: { multipart: true } do |f| %>
  <% if @experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% @experiment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="experiment">
  <div class="form-container">
    <div class="field new-exp-name">
      <%= f.label :experiment_name %><br>
      <%= f.text_area :name, :cols => 100, :rows => 2 %>
    </div>

    <div class="field new-description">
      <%= f.label :description %><br> <small>(Share guidance here.)</small>
      <%= f.text_area :description, :cols => 100, :rows => 2 %>
    </div>

    <div class="field new-photo">
      <%= f.label :upload_a_photo %><br>
      <%= f.file_field 'uploaded_file', id: 'pictureInput', :rows => 2 %>
    </div>

    <div id="target">
    </div>

    <div class="field new-youtube">
      <%= f.label :Link_to_a_YouTube_Tutorial %><br>
      <%= f.url_field :youtube_link, :class => "tutorial-link" %>
    </div>

    <div class="field new-time">
      <%= f.label :complete_time %><br>
      <%= f.number_field(:complete_time, in: 0.5..20.0, step: 0.5) %> hours
    </div>
    <div class="field new-years">
      <%= f.label :age %> in years<br>
      <%= f.select :age, options_for_select([["Under 3", 1], ["4-6",2], ["7-9",3],["10 & up", 4]]), {:prompt => 'Choose an Age'}%>
  </div>

  <div class="new-exp-concept">
    <% Concept.all.each do |concept| %>
      <%= check_box_tag('concepts[]', concept.id, false, id: "concept_#{concept.id}", class: "concept-checkbox")%>
      <%= label_tag("concept_#{concept.id}",concept.name, class: "concept-checkbox-label") %>
    <% end %>
  </div>
  </li>

  <li>
      <ul class="field unordered-list-materials"><h3>Materials:</h3> 
        <%= f.fields_for(:materials) do |ff| %>
          <li>
            <div class="field material">
              <%= ff.text_field :item, :class=> "new-material" %>
            </div>
          </li>
        <% end %>
      </ul>
      <button type="button" class="add-material-btn"><i class="fa fa-plus"></i></button>
  </li>
  <ul class="field unordered-list-instructions"><h3>Instructions:</h3>
    <%= f.fields_for(:instructions) do |ff| %>
      <li>
      <div class="instruction-fields">
        <div class="field instruction">
          <%= ff.text_field :information, :class=> "new-instruction" %>
        </div>
      </div>
      </li>
    <% end %>
  </ul>
<button type="button" class="add-instruction-btn"><i class="fa fa-plus"></i></button>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
</div>
</div>