<div class="index-wrapper">

<div class="pages">

<%= paginate @paginatable_array %>

</div>

<% @paginatable_array.sort_by(&:age).each do |experiment| %>

    <div class="index-experiment-card">
        <a href="<%= url_for experiment %>" class="index-photo" style="background-image: url('<%= experiment.uploaded_file %>')">
          <span class="index-exp-title-bar"><h3 class="index-exp-title"><%= experiment.name %></h3>

             <i class="fa fa-thumbs-up index-likes"> <%= pluralize experiment.votes, "like" %></i>
          </span>
        </a>

        <div class="index-info">
              <div class="index-exp-ratings">
                  <span class="ratings-container">
                      <span class="index-concept-icon">
                         <% c = experiment.concepts.sample %>
                         <%= image_tag "#{c.name}.png", class: "concept-img-small" %><br>
                         <%= link_to c.name, concept_path(c) %>
                      </span>

                      <div class="index-time">
                          <%= image_tag "time.png", class: "icon-small" %><br>
                          <%= experiment.complete_time %> hour(s)
                      </div>

                      <div class="index-age">
                          <%= image_tag "age.png", class: "icon-small" %><br>
                          Ages <%= experiment.return_age %>
                      </div>

                    <div class="mess-rate-disable index-mess">
                        <%= rating_for experiment, "name", star_path: '/images/ratyrate', :disable_rate => true %><br>
                        Mess
                    </div>
                 </span>
              </div>
         </div>
    </div>
<% end %>
</div>
