<h1>Listing Experiments</h1>
    <% @experiments.each do |experiment| %>
        <br>
        Username<br>
        <%= experiment.user.username %><br>
        Experiment Name<br>
        <%= experiment.name %><br>
        Description<br>
        <%= experiment.description %><br>
        Lesson<br>
        <%= experiment.lesson %><br>
        Youtube link<br>
        <a href="<%= experiment.youtube_link %>">Go To Youtube Experiment</a><br>
        Complete time<br>
        <%= experiment.complete_time %><br>
        Materials<br>
        <% experiment.materials.each do |material| %>
          <%= material.piece %><br>
        <% end %>
        Instructions<br>
        <% experiment.instructions.each do |instruction| %>
          <%= instruction.order %> | <%= instruction.information %><br>
        <% end %><br>
        <div class="embed-container">
          <%= embed(experiment.youtube_link) %>
        </div>
        <br>
        <%= experiment.average("name").nil? ? '0' : experiment.average("name").avg %>
        Messy Rating : <%= rating_for experiment, "name", star_path: '/images/ratyrate', :disable_after_rate => true %><br>
        <em>
          -- <%= experiment.user.username %>
          | <%= pluralize experiment.votes, "vote" %>
        </em>
        | <%= link_to 'Show', experiment %> |
        <%= link_to 'Edit', edit_experiment_path(experiment) %> |
        <%= link_to 'Destroy', experiment, method: :delete, data: { confirm: 'Are you sure?' } %><br>
    <% end %><br>

<%= link_to 'New Experiment', new_experiment_path %>
