<h1>Listing Experiments</h1>

    <% @experiments.each do |experiment| %>
        <br>
        Username<br>
        <%= experiment.user.username %><br>
        Description<br>
        <%= experiment.description %><br>
        Lesson<br>
        <%= experiment.lesson %><br>
        Youtube link<br>
        <%= experiment.youtube_link %><br>
        Complete time<br>
        <%= experiment.complete_time %><br>
        Materials<br>
        <% experiment.materials.each do |material| %>
          <%= material.piece %><br>
        <% end %>

        <%= link_to 'Show', experiment %> |
        <%= link_to 'Edit', edit_experiment_path(experiment) %> |
        <%= link_to 'Destroy', experiment, method: :delete, data: { confirm: 'Are you sure?' } %><br>
    <% end %><br>

<%= link_to 'New Experiment', new_experiment_path %>
