<div id="landing">
    <div id="bg"></div>
    <div class="landing-intro">
    	<h1 class="landing-logo">stempirical</h1>

    	<p class="stempirical-tagline">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
    	</p>
      <div class="landing-search">
        <%= form_tag experiments_path, :method => "get", id: "landing-search-form" do %>
        <%= text_field_tag "query", params[:query], placeholder: "Search Experiments", class: "landing-exp-search" %>
          <button class="fa fa-search landing-fa-search"></button>
        <% end %>
      </div>
    </div>
</div>
<div class="initial-suggested">
  <div class="suggested-container">
    <span class="suggested">
      <% human_experiment = @concepts.find_by_name("Human Body").experiments.sample %>
      <% if human_experiment.uploaded_file.blank? %>
        <a href="<%= url_for human_experiment %>" class="index-photo" style="background-image: url(<%= image_path "discovery-crop.jpg" %>)">
      <% else %>
        <a href="<%= url_for human_experiment %>" class="index-photo" style="background-image: url('<%= human_experiment.uploaded_file %>')">
      <% end %>
      <i class="fa fa-thumbs-up index-likes"> <%= pluralize human_experiment.votes, "like" %></i>
    </span>
    <span class="suggested">
      <% plant_experiment = @concepts.find_by_name("Plants").experiments.sample %>
      <% if plant_experiment.uploaded_file.blank? %>
        <a href="<%= url_for plant_experiment %>" class="index-photo" style="background-image: url(<%= image_path "discovery-crop.jpg" %>)">
      <% else %>
        <a href="<%= url_for plant_experiment %>" class="index-photo" style="background-image: url('<%= plant_experiment.uploaded_file %>')">
      <% end %>
      <i class="fa fa-thumbs-up index-likes"> <%= pluralize plant_experiment.votes, "like" %></i>
    </span>
    <span class="suggested">
      <% molecular_behavior_experiment = @concepts.find_by_name("Molecular Behavior").experiments.sample %>
      <% if molecular_behavior_experiment.uploaded_file.blank? %>
        <a href="<%= url_for molecular_behavior_experiment %>" class="index-photo" style="background-image: url(<%= image_path "discovery-crop.jpg" %>)">
      <% else %>
        <a href="<%= url_for molecular_behavior_experiment %>" class="index-photo" style="background-image: url('<%= molecular_behavior_experiment.uploaded_file %>')">
      <% end %>
      <i class="fa fa-thumbs-up index-likes"> <%= pluralize molecular_behavior_experiment.votes, "like" %></i>
    </span>
    <span class="suggested">
      <% top_experiment = find_unique_experiment(molecular_behavior_experiment.name, plant_experiment.name, human_experiment.name) %>
      <% if top_experiment.uploaded_file.blank? %>
        <a href="<%= url_for top_experiment %>" class="index-photo" style="background-image: url(<%= image_path "discovery-crop.jpg" %>)">
      <% else %>
        <a href="<%= url_for top_experiment %>" class="index-photo" style="background-image: url('<%= top_experiment.uploaded_file %>')">
      <% end %>
      <i class="fa fa-thumbs-up index-likes"> <%= pluralize top_experiment.votes, "like" %></i>
    </span>
  </div>
</div>
