<h1>Listing Experiments</h1>
    <% @experiments.each do |experiment| %>
        <br>
        Username<br>
        <%= experiment.user.username %><br>
        Experiment Name<br>
        <%= experiment.name %><br>
        Description<br>
        <%= experiment.description %><br>
        Complete time<br>
        <%= experiment.complete_time %><br>
        Materials<br>
        <% experiment.materials.each do |material| %>
          <%= material.item %><br>
        <% end %>
        Instructions<br>
        <% experiment.instructions.each do |instruction| %>
          <%= instruction.order_number %> | <%= instruction.information %><br>
        <% end %><br>
        <div class="exp-img">
          <% if experiment.uploaded_file_file_name != nil %>
            <%= image_tag experiment.uploaded_file %><br>
          <% end %>
        </div>
        <% if experiment.youtube_link != "" %>
          <div class="embed-container">
            <%= embed(experiment.youtube_link) %>
          </div>
          Youtube link<br>
          <a href="<%= experiment.youtube_link %>">Go To Youtube Experiment</a><br>
        <% end %>
        <%= experiment.average("name").nil? ? '0' : experiment.average("name").avg %>
        Messy Rating : <%= rating_for experiment, "name", star_path: '/images/ratyrate', :disable_after_rate => true %><br>
        <em>
          -- <%= experiment.user.username %>
          | <%= pluralize experiment.votes, "vote" %>
        </em>
        | <%= link_to 'Show', experiment %> |
        <%= link_to 'Edit', edit_experiment_path(experiment) %> |
    <% end %><br>
