<div class="user-options">
  <!--<%= image_tag "submitted by user.png", class: "icon-small" %>-->
  Submitted By:
  <%= @experiment.user.username %>
    <% if user_signed_in? == true && current_user.id == @experiment.user_id %>
    <%= link_to content_tag(:i, nil, class: 'fa fa-pencil'), edit_experiment_path(@experiment) %> |
    <%= link_to content_tag(:i, nil, class: 'fa fa-trash-o'), @experiment, method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
</div>


<div class="show-exp-image">
    <% if @experiment.uploaded_file_file_name != nil %>
      <%= image_tag @experiment.uploaded_file %>
    <% end %>
</div>

<div class="show-exp-title-bar">
  <h3 class="show-exp-title"><%= @experiment.name %></h3>

  <div class="quality-rating">
    <% if current_user && current_user.can_vote_for?(@experiment) %>
      <%= link_to content_tag(:i, nil, class: 'fa fa-thumbs-up show-likes'), vote_experiment_path(@experiment, value: 1), method: "post" %>
      <% end %>

      <%= pluralize @experiment.votes, "like" %>
  </div>
</div>

<div class="show-container">
  <!-- ALTERNATIVE
    <div class="show-exp-title-bar">
    <h3 class="show-exp-title"><%= @experiment.name %></h3>

    <div class="quality-rating">
      <% if current_user && current_user.can_vote_for?(@experiment) %>
        <%= link_to content_tag(:i, nil, class: 'fa fa-thumbs-up show-likes'), vote_experiment_path(@experiment, value: 1), method: "post" %>
        <% end %>

        <%= pluralize @experiment.votes, "like" %>
    </div>
  </div>   -->

  <div class="show-ratings">

    <div class="show-concept-icon">
    <% @experiment.concepts.each do |c| %>
      <%= image_tag "#{c.name}.png", class: "concept-img-small" %><br>
      <%= link_to c.name, concept_path(c) %>
    <% end %>
    </div>

    <div class="time">
    <%= image_tag "time.png", class: "icon-small" %><br>
    <%= @experiment.complete_time %> hour(s)
    </div>

    <div class="age">
    <%= image_tag "age.png", class: "icon-small" %><br>
    Ages <%= @experiment.return_age %>
    </div>

    <div class="mess">
    <%= rating_for @experiment, "name", star_path: '/images/ratyrate', :disable_rate => true %><br>
    Mess Factor: <%= @experiment.average("name").nil? ? '0' : @experiment.average("name").avg %>
    </div>
  </div>

  <p class="show-exp-description">
    <%= @experiment.description %>
  </p>

  <div class="show-materials">
    <h3>Materials:</h3><br>
      <% @experiment.materials.each do |material| %>
      <div class="show-material">
        - <%= material.item %><br>
      </div>
    <% end %>
  </div>

  <div class="show-instructions">
    <h3>Instructions:</h3><br>
    <% @experiment.instructions.each do |instruction| %>
      <div class="show-instruction">
        <%= instruction.order_number %> | <%= instruction.information %><br>
      </div>
    <% end %>
  </div>

  <div class="instruction-video">
  <% if @experiment.youtube_link != "" %>
    <div class="embed-container">
      <%= embed(@experiment.youtube_link) %>
    </div>
  <% end %>
  </div>
</div>

<div class="recommended">
  one random parent & one random child experiment
  <% concept = @experiment.concepts.sample %>
  Based on your interest on <%= link_to concept.name, concept_path(concept) %>, you might be interested in:<br>
  <% if concept.parents.count != 0 %>
    <% random_parent = concept.parents.sample %>
    <% random_parent_experiment = random_parent.experiments.sample %>
    <%= link_to random_parent_experiment.name, "#{root_url}experiments/#{random_parent_experiment.id}" %><br>
    <%= image_tag random_parent_experiment.uploaded_file %><br>
    <% if concept.children.count >= 1 %>
      <% if concept.parents.count != 0 %>
        <h3>OR</h3>
      <% end %>
      <% random_child = concept.children.sample %>
      <% random_child_experiment = random_child.experiments.sample %>
      <%= link_to random_child_experiment.name, "#{root_url}experiments/#{random_child_experiment.id}" %><br>
      <%= image_tag random_child_experiment.uploaded_file %><br>
    <% end %>
  <% else %>
    <% random_child = concept.children.sample %>
    <% random_child_experiment = random_child.experiments.sample %>
    <%= link_to random_child_experiment.name, "#{root_url}experiments/#{random_child_experiment.id}" %><br>
    <%= image_tag random_child_experiment.uploaded_file %><br>
  <% end %>
</div>

<div class="extended-learning"><!--need to add "link to" and "carousel" of photos with each-->
child concepts & experiments associated with them
<% if @children.count > 0 %>
  <% if @children.count >= 1 %>
    <% @children.map do |children| %><br>
    <h4>To learn more about <%= children.name %>, try these:</h4>
      <% children.experiments.map do |exp| %>
        <%= link_to exp.name, experiment_path(exp) %><br>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to exp.name, experiment_path(exp) %>
  <% end %>
<% end %>
<br>

parent concepts & experiments associated with them
<% if @parents.count > 0 %>
  <% if @parents.count >= 1 %>
    <% @parents.map do |parent| %>
      <h4>To learn more about <%= parent.name %>, try these:</h4>
      <% parent.experiments.map do |exp| %>
        <%= link_to exp.name, experiment_path(exp) %><br>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to exp.name, experiment_path(exp) %>
  <% end %>
<% end %>
<br>
</div>

<% if user_signed_in? || @experiment.comments != [] %>
  <h3 class="comment-title">We Love Feedback!</h3><br>
  <div class="comments">
    <% if @experiment.comments != [] %>
      <div id="all-comments">
        <%= render partial: "comments/comments", locals: {commentable: @experiment} %><br>
      </div>
    <% end %>
    <% if user_signed_in? %>
    <div class="new-form-container comment-btn">
    </div>
      <!-- <%= link_to "New Comment", new_experiment_comment_path(@experiment), remote: true %> -->
      <%= render partial: "comments/form", locals: {commentable: @experiment}, class: "comment-form" %>
    <% end %>
  </div>
<% end %>
<button type="button" class="add-comment-btn"><i class="fa fa-plus"></i>Add Comment</button>
