<h3>Children Concepts:</h3><br>
<%= @children[0].count %><br>
<% if @children[0].count >= 1 %>
  <% @children[0].each do |c| %>
    <%= c.name %><br>
  <% end %>
  <%= @children[0].each {|c| c.name } %><br>
  <%= @children[0].map {|c| c.name } %><br>
<% end %>
<br>
<h3>Parent Concepts:</h3><br>
<%= @parents[0].count %><br>
<% if @parents[0].count >= 1 %>
  <%= @experiment.concepts.first.parents[0].name %><br>
  <%= @parents[0][0].name %><br>
<% end %>
<br>
Basen on your interest on <%= @experiment.concepts[0].name %>, you might be interested in the following experiment(s):<br>
<% if @parents[0].count >= 1 %>
  <% random_parent = @parents[0].each {|c| c.name }.sample %>
  <%= link_to "#{root_url}experiments/#{random_parent.experiments[0].id}" do %>
    <%= random_parent.experiments[0].name %><br>
  <% end %>
<% end %>

<% if @children[0].count >= 1 %>
  <% if @parents[0].count != 0 %>
    <h3>OR</h3>
  <% end %>
  <% random_child = @children[0].each {|c| c.name }.sample %>
  <%= link_to "#{root_url}experiments/#{random_child.experiments[0].id}" do %>
    <%= random_child.experiments[0].name %>
  <% end %>
<% end %>
<br>
<p>
  <strong>User:</strong>
  <%= @experiment.user_id %>
</p>
<%= @experiment.average("name").nil? ? '0' : @experiment.average("name").avg %>
Messy Rating : <%= rating_for @experiment, "name", star_path: '/images/ratyrate', :disable_after_rate => true %><br>
<p>
  <strong>Name:</strong>
  <%= @experiment.name %>
</p>

<div class="container">
  <p>
    <strong>Description:</strong>
    <%= @experiment.description %>
  </p>

  <p>
    <strong>Complete time:</strong>
    <%= @experiment.complete_time %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= @experiment.age %>
  </p>
</div>

<p>
  <strong>Materials:</strong><br>
  <% @experiment.materials.each do |material| %>
    - <%= material.item %><br>
  <% end %>
</p>

<p>
  <strong>Instructions:</strong><br>
  <% @experiment.instructions.each do |instruction| %>
    <%= instruction.order_number %> | <%= instruction.information %><br>
  <% end %>
</p>
<% if @experiment.uploaded_file_file_name != nil %>
  <%= image_tag @experiment.uploaded_file %>
<% end %>
<% if @experiment.youtube_link != "" %>
  <div class="embed-container">
    <%= embed(@experiment.youtube_link) %>
  </div>

  <p>
    <strong>Youtube link:</strong>
    <a href="<%= @experiment.youtube_link %>">Go To Youtube Experiment</a><br>
  </p>
<% end %>
<em>
  -- <%= @experiment.user.username %>
  | <%= pluralize @experiment.votes, "vote" %>
</em>

<% if current_user && current_user.can_vote_for?(@experiment) %>
  | <%= link_to "up", vote_experiment_path(@experiment, value: 1), method: "post" %>
<% end %><br>

<a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="white" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_28.png" /></a>
<!-- Please call pinit.js only once per page -->
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script><br>

<% if user_signed_in? %>
  <%= render partial: "comments/form", locals: {commentable: @experiment} %>
<% end %>

<div id="all-comments">
  <%= render partial: "comments/comments", locals: {commentable: @experiment} %><br>
</div>

<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', root_path %> |
<% if user_signed_in? == true && current_user.id == @experiment.user_id %>
  <%= link_to 'Destroy', @experiment, method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>
