<p>
  <strong>User:</strong>
  <%= @experiment.user_id %>
</p>
<%= @experiment.average("name").nil? ? '0' : @experiment.average("name").avg %>
Messy Rating : <%= rating_for @experiment, "name", star_path: '/images/ratyrate', :disable_after_rate => true %><br>
<p>
  <strong>Name:</strong>
  <%= @experiment.name %>
</p>

<div class="container">
  <p>
    <strong>Description:</strong>
    <%= @experiment.description %>
  </p>

  <p>
    <strong>Lesson:</strong>
    <%= @experiment.lesson %>
  </p>

  <p>
    <strong>Complete time:</strong>
    <%= @experiment.complete_time %>
  </p>
</div>

<p>
  <strong>Materials:</strong><br>
  <% @experiment.materials.each do |material| %>
    - <%= material.piece %><br>
  <% end %>
</p>
<p>
  <strong>Instructions:</strong><br>
  <% @experiment.instructions.each do |instruction| %>
    <%= instruction.order %> | <%= instruction.information %><br>
  <% end %>
</p>
<div class="embed-container">
  <%= embed(@experiment.youtube_link) %>
</div>

<p>
  <strong>Youtube link:</strong>
  <a href="<%= @experiment.youtube_link %>">Go To Youtube Experiment</a><br>
</p>

<em>
  -- <%= @experiment.user.username %>
  | <%= pluralize @experiment.votes, "vote" %>
</em>
<% if current_user && current_user.can_vote_for?(@experiment) %>
  | <%= link_to "up", vote_experiment_path(@experiment, value: 1), method: "post" %>
  | <%= link_to "down", vote_experiment_path(@experiment, value: -1), method: "post" %> |
<% end %><br>
<a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="white" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_28.png" /></a>
<!-- Please call pinit.js only once per page -->
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', root_path %>
