<div class="row1">
  <p class="user-options">
    Submitted By User: 
    <%= @experiment.user_id %>
      <% if user_signed_in? == true && current_user.id == @experiment.user_id %>
      <%= link_to 'Edit', edit_experiment_path(@experiment) %> |
      <%= link_to 'Destroy', @experiment, method: :delete, data: {confirm: 'Are you sure?'} %>
    <% end %>
  </p>
  
  <div class="pin-it">
    <a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="white" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_28.png" /></a>
    <!-- Please call pinit.js only once per page -->
    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script><br>
  </div>
  
  <%= @experiment.average("name").nil? ? '0' : @experiment.average("name").avg %>
  
    <!--placeholder icon-->
    <div class="concept-icon"><i class="fa fa-sun-o"></i>
    </div>
    
    <h3 class="page-title"><%= @experiment.name %></h3>
  
  <div class="show-basics-container">
  
    <div class="exp-ratings">
        Time: <%= @experiment.complete_time %> hour(s) |
          
        Mess Factor: <%= @experiment.average("name").nil? ? '0' : @experiment.average("name").avg %> <i class="fa fa-recycle"></i> | 
        
        <i class="fa fa-thumbs-up"></i>
        <%= pluralize @experiment.votes, "like" %>
        
        <% if current_user && current_user.can_vote_for?(@experiment) %> | 
        <i class="fa fa-thumbs-up"></i><%= link_to "up", vote_experiment_path(@experiment, value: 1), method: "post" %> | 
        <i class="fa fa-thumbs-down"></i><%= link_to "down", vote_experiment_path(@experiment, value: -1), method: "post" %> |
        <% end %><br>
    </div>
   
    <% if @experiment.uploaded_file_file_name != nil %>
      <%= image_tag @experiment.uploaded_file %>
    <% end %>
  
    <p class="show-exp-description">
      <%= @experiment.description %>
    </p>
  
    <h4 class="show-exp-heading">Complete time:</h4>
    <%= @experiment.complete_time %>
    
    <h4 class="show-exp-heading">Age:</h4>
    <%= @experiment.age %>
  </div>
</div>

<div class="show-materials">
  <h3>Materials:</h3><br>
  <% @experiment.materials.each do |material| %>
    - <%= material.item %><br>
  <% end %>
</div>

<div class="show-instructions">
  <h3>Instructions:</h3><br>
  <% @experiment.instructions.each do |instruction| %>
    <%= instruction.order_number %> | <%= instruction.information %><br>
  <% end %>
</div>

<div class="instruction-video">
<% if @experiment.youtube_link != "" %>
  <div class="embed-container">
    <%= embed(@experiment.youtube_link) %>
  </div>
  <a href="<%= @experiment.youtube_link %>">View on YouTube</a><br>
<% end %>
</div>


<div class="comments">
  <% if user_signed_in? %>
    <%= render partial: "comments/form", locals: {commentable: @experiment} %>
  <% end %>

  <div id="all-comments">
    <%= render partial: "comments/comments", locals: {commentable: @experiment} %><br>
  </div>
</div>    


