<div class="cover">
  <% if @experiment.uploaded_file.blank? %>
    <div class="show-exp-image" style="background-image: url(<%= image_path "discovery-form.jpg" %>)"></div>
  <% else %>
    <div class="show-exp-image" style="background-image: url(<%= image_path @experiment.uploaded_file %>)">
    </div>
  <% end %>
</div>

<div class="largest-show-container">
  <div class="show-exp-title-bar">
      <h3 class="show-exp-title"><%= @experiment.name %></h3>

      <div class="quality-rating">
        <% if current_user && current_user.can_vote_for?(@experiment) %>
          <%= link_to content_tag(:i, nil, class: 'fa fa-thumbs-up show-likes'), vote_experiment_path(@experiment, value: 1), method: "post" %>
          <% end %>

          <%= pluralize @experiment.votes, "like" %>
      </div>
  </div>

  <div class="show-container">

    <div class="show-ratings">

      <div class="show-concept-icon">
        <% c = @experiment.concepts.sample %>
        <%= image_tag "#{c.name}.png", class: "concept-img-small" %><br>
        <%= link_to c.name, concept_path(c) %>
      </div>

      <div class="time">
        <%= image_tag "time.png", class: "icon-small" %><br>
        <%= @experiment.complete_time %> hour(s)
      </div>

      <div class="age">
        <%= image_tag "age.png", class: "icon-small" %><br>
        Ages <%= @experiment.return_age %>
      </div>

      <div class="mess">
        <%= rating_for @experiment, "name", star_path: '/images/ratyrate', :disable_rate => true %><br>
        Mess Factor: <%= @experiment.average("name").nil? ? '0' : @experiment.average("name").avg %>
      </div>
    </div>

    <p class="show-exp-description">
      <%= @experiment.description %>
    </p>

    <div class="show-materials">
      <h3>Materials:</h3><br>
        <% @experiment.materials.each do |material| %>
        <div class="show-material">
          - <%= material.item %><br>
        </div>
      <% end %>
    </div>

    <div class="show-instructions">
      <h3>Instructions:</h3><br>
      <% @experiment.instructions.each do |instruction| %>
        <div class="show-instruction">
          <%= instruction.order_number %> | <%= instruction.information %><br>
        </div>
      <% end %>
    </div>

    <div class="instruction-video">
    <% if @experiment.youtube_link != "" %>
      <div class="embed-container">
        <%= embed(@experiment.youtube_link) %>
      </div>
    <% end %>
    </div>

  <div class="user-options">
  <%= image_tag "submitted by user.png", class: "idea-icon-small" %>
  Submitted By:
  <%= @experiment.user.username %>
    <% if user_signed_in? == true && current_user.id == @experiment.user_id %>
    <%= link_to content_tag(:i, nil, class: 'fa fa-pencil'), edit_experiment_path(@experiment) %> |
    <%= link_to content_tag(:i, nil, class: 'fa fa-trash-o'), @experiment, method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
  </div>

  </div>
</div>

    <div class="show-next-steps">
        <div class="next-steps-container">
          <span class="show-recommended"><img src="/assets/discovery.jpg"></span>
          <span class="show-extended-learning"><img src="/assets/discovery.jpg"></span>
        </div>
    </div>


<div class="recommended">
  <% @concept = @experiment.concepts.sample %>
  <% if @experiment.concepts.count == 1 && @concept.experiments.count == 1 %>
    Finds the top rated experiment<br>
    <% top_experiment_concept = @top_experiment.concepts.sample %>
    <%= image_tag "#{top_experiment_concept.name}.png", class: "concept-img-small" %><br>
    <%= link_to @top_experiment.name, experiment_path(@top_experiment) %><br>
    <%= image_tag @top_experiment.uploaded_file %><br>
  <% elsif @concept.experiments.where.not(name: @experiment.name).blank? %>
    <% concept = @experiment.concepts.where.not(name: @concept.name).sample %>
    Finds a random experiment under the experiment's related concepts<br>
    <% exp = concept.experiments.where.not(name: @experiment.name).sample %>
    <%= image_tag "#{concept.name}.png", class: "concept-img-small"%>
    <%= link_to exp.name, experiment_path(exp) %><br>
    <%= image_tag exp.uploaded_file %><br>
  <% else %>
    Finds a random experiment under the experiment's related concepts<br>
    <% exp = @concept.experiments.where.not(name: @experiment.name).sample %>
    <%= image_tag "#{@concept.name}.png", class: "concept-img-small"%>
    <%= link_to exp.name, experiment_path(exp) %><br>
    <%= image_tag exp.uploaded_file %><br>
  <% end %>

  <% if @concept.children.count > 0 %>
  Find a random experiment under the child concept<br>
    <% random_child = @concept.children.sample %>
    <% random_child_experiment = random_child.experiments.sample %>
    <%= link_to random_child_experiment.name, experiment_path(random_child_experiment) %><br>
    <%= image_tag "#{random_child.name}.png", class: "concept-img-small" %><br>
    <%= image_tag random_child_experiment.uploaded_file %><br>
  <% else %>
    Finds a random parent experiment bc there are no children<br>
    <% random_parent = @concept.parents.sample %>
    <% random_parent_experiment = random_parent.experiments.sample %>
    <%= link_to random_parent_experiment.name, experiment_path(random_parent) %><br>
    <%= image_tag "#{random_parent.name}.png", class: "concept-img-small" %><br>
    <%= image_tag random_parent_experiment.uploaded_file %><br>
  <% end %>
</div>

<h3 class="comment-title">We Love Feedback!</h3><br>
<div class="comments">
  All Comments (<%= @experiment.comments.count %>)
    <div id="all-comments">
      <%= render partial: "comments/comments", locals: {commentable: @experiment} %><br>
    </div>
  <% if user_signed_in? %>
    <div id="comment-form">
      <%= render partial: "comments/form", locals: {commentable: @experiment}, class: "comment-form" %>
      <button type="button" id="add-comment-btn" class="comment-submit"><i class="fa fa-plus"></i>Add Comment</button>
    </div>
  <% end %>
</div>
