<script>
$(function() {

  $('.concept').tooltip({

    items: "div",
    content: function() {
      return $(this).children('.experiments').html();
    },
    close: function(event, ui){
            ui.tooltip.hover(
                function () {
                    $(this).stop(true).fadeTo(400, 1);
                },
                function () {
                    $(this).fadeOut("400", function(){
                        $(this).remove();
                    })
                }
            );
        }
  });
});


</script>

<div class="concept-tree-description">
  This Concept Tree connects one concept to the next based on approximate complexity. Experiments at the top of the tree are the most appropriate for younger kids, while the ones at the bottom of the tree are more geared toward older children. With that said, we firmly believe, with the help of an adult, every experiment here can enrich a child of any age.
</div>

<span class="container">
<div class="section-group">
  <div class="row 1">
  	<div class="col span_1_of_5">
  	</div>
  	<div class="col span_1_of_5">
  	</div>
  	<div class="col span_1_of_5 concept">
      <a style="display:block" href="<%= concept_path(Concept.first) %>">
      <div class="card down">
        Observation
          <div class="icon">
            <%= image_tag "Observation.png", class: "concept-img" %>
            <div class="experiments">
              <% experiments = first_three_experiments("Observation") %>
              <% experiments.map do |e| %>
                <%= link_to e.name, experiment_path(e) %><br>
              <% end %>
            </div>
          </div>
      </div>
      </a>
  	</div>
  	<div class="col span_1_of_5">
  	</div>
  	<div class="col span_1_of_5">
  	</div>
  </div>
  <div class="row-of-ten one">
    <div class="col-ten span_1_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_2_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_3_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_4_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_5_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_6_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_7_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_8_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_9_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_10_of_10">
      &nbsp;
    </div>
  </div>
  <div class="row-of-ten two">
    <div class="col-ten span_1_of_10">
    &nbsp;
    </div>
    <div class="col-ten span_2_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_3_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_4_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_5_of_10">
    &nbsp;
    </div>
    <div class="col-ten span_6_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_7_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_8_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_9_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_10_of_10">
      &nbsp;
    </div>
  </div>

  <div class="row 2">
  	<div class="col span_1_of_5">
  	</div>
  	<div class="col span_1_of_5 concept">
      <a style="display:block" href="<%= concept_path(Concept.find_by_name("Plants")) %>">
      <div class="card">
        Plants
        <div class="icon">
          <%= image_tag "Plants.png", class: "concept-img" %>
          <div class="experiments">
            <% experiments = first_three_experiments("Plants") %>
            <% experiments.map do |e| %>
              <%= link_to e.name, experiment_path(e) %><br>
            <% end %>
          </div>
        </div>
      </div>
  	</div>
    <div class="col span_1_of_5 concept">
      <a style="display:block" href="<%= concept_path(Concept.find_by_name("Molecular Behavior")) %>">
      <div class="card down">
        Molecular Behavior
        <div class="icon">
          <%= image_tag "Molecular Behavior.png", class: "concept-img" %>
          <div class="experiments">
            <% experiments = first_three_experiments("Molecular Behavior") %>
            <% experiments.map do |e| %>
              <%= link_to e.name, experiment_path(e) %><br>
            <% end %>
          </div>
        </div>
      </div>
  	</div>
    <div class="col span_1_of_5 concept">
      <a style="display:block" href="<%= concept_path(Concept.find_by_name("Design & Build")) %>">
      <div class="card">
        Design & Build
        <div class="icon">
          <%= image_tag "Design & Build.png", class: "concept-img" %>
          <div class="experiments">
            <% experiments = first_three_experiments("Design & Build") %>
            <% experiments.map do |e| %>
              <%= link_to e.name, experiment_path(e) %><br>
            <% end %>
          </div>
        </div>
      </div>
  	</div>
  	<div class="col span_1_of_5">
  	</div>
  </div>
  <div class="row-of-ten three">
    <div class="col-ten span_1_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_2_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_3_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_4_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_5_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_6_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_7_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_8_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_9_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_10_of_10">
      &nbsp;
    </div>
  </div>

  <div class="row-of-ten four">
    <div class="col-ten span_1_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_2_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_3_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_4_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_5_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_6_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_7_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_8_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_9_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_10_of_10">
      &nbsp;
    </div>
  </div>
  <div class="row 3">
    <div class="col span_1_of_5 concept">
      <a style="display:block" href="<%= concept_path(Concept.find_by_name("Gases")) %>">
      <div class="card">
        Gases
        <div class="icon">
          <%= image_tag "Gases.png", class: "concept-img" %>
          <div class="experiments">
            <% experiments = first_three_experiments("Gases") %>
            <% experiments.map do |e| %>
              <%= link_to e.name, experiment_path(e) %><br>
            <% end %>
          </div>
        </div>
      </div>
  	</div>
    <div class="col span_1_of_5 concept">
      <a style="display:block" href="<%= concept_path(Concept.find_by_name("Liquids")) %>">
      <div class="card down">
        Liquids
        <div class="icon">
          <%= image_tag "Liquids.png", class: "concept-img" %>
          <div class="experiments">
            <% experiments = first_three_experiments("Liquids") %>
            <% experiments.map do |e| %>
              <%= link_to e.name, experiment_path(e) %><br>
            <% end %>
          </div>
        </div>
      </div>
  	</div>
    <div class="col span_1_of_5 concept">
      <a style="display:block" href="<%= concept_path(Concept.find_by_name("Chemical Reactions")) %>">
      <div class="card down">
        Chemical Reactions
        <div class="icon">
          <%= image_tag "Chemical Reactions.png", class: "concept-img" %>
          <div class="experiments">
            <% experiments = first_three_experiments("Chemical Reactions") %>
            <% experiments.map do |e| %>
              <%= link_to e.name, experiment_path(e) %><br>
            <% end %>
          </div>
        </div>
      </div>
  	</div>
    <div class="col span_1_of_5 concept">
      <a style="display:block" href="<%= concept_path(Concept.find_by_name("Energy")) %>">
      <div class="card">
        Energy
        <div class="icon">
          <%= image_tag "Energy.png", class: "concept-img" %>
          <div class="experiments">
            <% experiments = first_three_experiments("Energy") %>
            <% experiments.map do |e| %>
              <%= link_to e.name, experiment_path(e) %><br>
            <% end %>
          </div>
        </div>
      </div>
  	</div>
    <div class="col span_1_of_5 concept">
      <a style="display:block" href="<%= concept_path(Concept.find_by_name("Electricity")) %>">
      <div class="card">
        Electricity
        <div class="icon">
          <%= image_tag "Electricity.png", class: "concept-img" %>
          <div class="experiments">
            <% experiments = first_three_experiments("Electricity") %>
            <% experiments.map do |e| %>
              <%= link_to e.name, experiment_path(e) %><br>
            <% end %>
          </div>
        </div>
      </div>
  	</div>
  </div>
  <div class="row-of-ten five">
    <div class="col-ten span_1_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_2_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_3_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_4_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_5_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_6_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_7_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_8_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_9_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_10_of_10">
      &nbsp;
    </div>
  </div>

  <div class="row-of-ten six">
    <div class="col-ten span_1_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_2_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_3_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_4_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_5_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_6_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_7_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_8_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_9_of_10">
      &nbsp;
    </div>
    <div class="col-ten span_10_of_10">
      &nbsp;
    </div>
  </div>
  <div class="row 4">
  	<div class="col span_1_of_5">
  	</div>
    <div class="col span_1_of_5 concept">
      <a style="display:block" href="<%= concept_path(Concept.find_by_name("Water Cycle")) %>">
      <div class="card">
        Water Cycle
        <div class="icon">
          <%= image_tag "Water Cycle.png", class: "concept-img" %>
          <div class="experiments">
            <% experiments = first_three_experiments("Water Cycle") %>
            <% experiments.map do |e| %>
              <%= link_to e.name, experiment_path(e) %><br>
            <% end %>
          </div>
        </div>
      </div>
  	</div>
    <div class="col span_1_of_5 concept">
      <a style="display:block" href="<%= concept_path(Concept.find_by_name("Periodic Table")) %>">
      <div class="card">
        Periodic Table
        <div class="icon">
          <%= image_tag "Periodic Table.png", class: "periodic-table concept-img" %>
          <div class="experiments">
            <% experiments = first_three_experiments("Periodic Table") %>
            <% experiments.map do |e| %>
              <%= link_to e.name, experiment_path(e) %><br>
            <% end %>
          </div>
        </div>
      </div>
  	</div>
  	<div class="col span_1_of_5">
  	</div>
  	<div class="col span_1_of_5">
  	</div>
  </div>
</div>
</span>
