<h1>Concepts</h1>
<% @concepts.each do |concept| %>
<%= link_to concept.name, concept_path(concept) %><br>
  For an indepth descirption of <%= concept.name %> click <a href="<%= concept.description_link %>">here</a><br>
  Video Explaining <a href="<%= concept.video_link %>"><%= concept.name %></a><br>
  <% concept.experiments.map do |experiment| %>
    <%= link_to experiment.name, experiment_path(experiment) %><br>
  <% end %>
  <br>
<% end %>


Concepts
Human Body
For an indepth descirption of Human Body click here
Video Explaining Human Body
Arrows Optical Illusion

Design & Build
For an indepth descirption of Design & Build click here
Video Explaining Design & Build
Machanical Grabber
Hot Air Balloon

DNA
For an indepth descirption of DNA click here
Video Explaining DNA
Strawberry DNA
  
Molecular Behavior
For an indepth descirption of Molecular Behavior click here
Video Explaining Molecular Behavior
Colored Water

Electricity
For an indepth descirption of Electricity click here
Video Explaining Electricity
How To Make A Spark
Static Electricity

Liquids
For an indepth descirption of Liquids click here
Video Explaining Liquids
The FLoating Egg
Drops on a Penny

Gases
For an indepth descirption of Gases click here
Video Explaining Gases
Hot Air Balloon

Water Cycle
For an indepth descirption of Water Cycle click here
Video Explaining Water Cycle
Solar Still

Chemical Reactions
For an indepth descirption of Chemical Reactions click here
Video Explaining Chemical Reactions
Magic Milk
Inflating a balloon
Activating Yeast
Soap Powered Boat

Energy
For an indepth descirption of Energy click here
Video Explaining Energy
Solar Oven

Periodic Table
For an indepth descirption of Periodic Table click here
Video Explaining Periodic Table
Penny Cleaner
