<div class="cover">
    <div class="show-concept-image" style="background-image: url(<%= image_path "bubbles.jpg" %>)"></div>
</div>

<div class="largest-show-concept-container">
  <div class="show-concept-title-bar">
    <h1 class="show-concept-title"><%=@concept.name%></h1>
  </div>

  <div class="show-concept-container">
    <div class="concept-details">
      <p class="concept-description">
        <%=@concept.summary%>
        <a href="<%= @concept.description_link %>">Click here</a> for more information about <%= @concept.name %>. <br>
      </p>

      <div class="concept-video">
          <% if @concept.video_link != "" %>
            <div class="embed-container">
              <%= embed(@concept.video_link) %>
            </div>
          <% end %>
      </div>

      <div class="show-concept-experiments">
        <h1 class="concept-exp-title">Get started with these experiments:</h1><br>
        <% @concept.experiments.map do |experiment| %>
          <%= link_to experiment.name, experiment_path(experiment) %><br>
          <%= experiment.description %><br>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
