<p id="notice"><%= notice %></p>

<p>
  <strong>Experiment:</strong>
  <%= @material.experiment_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @material.item %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
