<!DOCTYPE html>
<html>
<head>
  <title>stempirical</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>


<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Chelsea+Market' rel='stylesheet' type='text/css'>

</head>


<body>
<% unless current_page?(root_path) %>
<header class="nav-bar">

 <h1 class="logo"><%= link_to_unless_current("stempirical", root_path) %></h1>

  <div class="search">
    <%= form_tag experiments_path, :method => "get", id: "search-form" do %>
    <!--<span class="sort"><%= select_tag "organize" , options_for_select([["Age", 1],["Time",2]], params[:organize]), {:prompt => 'Sort By'} %></span>  -->
    <%= text_field_tag "query", params[:query], placeholder: "Search Experiments", class: "exp-search" %>
      <button class="fa fa-search"></button>
    <% end %>
  </div>

  <div class="user-status">
    <% if user_signed_in? %>
      <%= link_to current_user.username, edit_user_registration_path %>
    <% else %>
      <%= link_to 'Login', new_user_session_path %> 
    <% end %>
  </div>

  <!-- Tabs -->
  <div class="nav-links">
    <div class="nav-link <%= 'active' if current_page?(concept_tree_concepts_path) %>"><%= link_to "Concept Tree", concept_tree_concepts_path %></div> 
    <div class="nav-link <%= 'active' if current_page?(experiments_path) %>"><%= link_to "All Experiments", experiments_path %></div>
    <div class="nav-link <%= 'active' if current_page?(new_experiment_path) %>"><%= link_to "Add My Experiment", new_experiment_path %></div>
    <div class="nav-link">
      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign Up', new_user_registration_path %>
      <% end %>
    </div>  
  </div>
 <% end %>  
 </header>

<div class="messages">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
</div>

<div class="main-content"><%= yield %></div>

<script type="text/javascript">
(function(d){
    var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
    p.type = 'text/javascript';
    p.async = true;
    p.src = '//assets.pinterest.com/js/pinit.js';
    f.parentNode.insertBefore(p, f);
}(document));

</script>

</body>
</html>
